<div class="auth-wrapper">
  <div class="auth-card shadow-lg">
    <h3 class="text-center mb-4">Sign Up</h3>

    <!-- Flash handled in layout -->

    <form action="/signup" method="POST" enctype="multipart/form-data">
      <input
        name="name"
        class="form-control mb-3"
        placeholder="Name"
        required
      />

      <input
        name="email"
        type="email"
        class="form-control mb-3"
        placeholder="Email"
        required
      />

      <input
        name="password"
        type="password"
        class="form-control mb-3"
        placeholder="Password"
        required
      />

      <textarea
        name="bio"
        class="form-control mb-3"
        placeholder="Bio"
      ></textarea>

      <input type="file" name="profilePicture" class="form-control mb-3" />

      <button class="btn btn-primary w-100">Create Account</button>
    </form>

    <p class="text-center mt-3">
      Already have an account?
      <a href="/login" class="text-info">Login</a>
    </p>
  </div>
</div>
