body {
  min-height: 100vh;
  background: radial-gradient(circle at top, #111827, #020617);
  color: #fff;
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
}

.auth-wrapper {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-card {
  width: 100%;
  max-width: 450px;
  padding: 30px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.form-control {
  background: rgba(255, 255, 255, 0.08);
  border: none;
  color: white;
}

.form-control:focus {
  background: rgba(255, 255, 255, 0.12);
  color: white;
  box-shadow: none;
}

.form-control::placeholder {
  color: #aaa;
}

.btn-primary {
  background: linear-gradient(90deg, #6366f1, #3b82f6);
  border: none;
}

.btn-primary:hover {
  opacity: 0.9;
}

.alert {
  border-radius: 10px;
}

.toast {
  border-radius: 12px;
  backdrop-filter: blur(10px);
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.4s ease;
}

.toast.show {
  opacity: 1;
  transform: translateY(0);
}

.alert-container {
  position: fixed;
  top: 80px;
  right: 20px;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.custom-alert {
  min-width: 260px;
  border-radius: 10px;
  backdrop-filter: blur(10px);

  opacity: 0;
  transform: translateX(100px);
  transition: all 0.4s ease;
}

.custom-alert.show {
  opacity: 1;
  transform: translateX(0);
}

.custom-alert.hide {
  opacity: 0;
  transform: translateX(100px);
}

.card {
  border-radius: 16px;
}

.card img {
  object-fit: cover;
}

.btn-outline-light:hover {
  background: white;
  color: black;
}


.profile-img,
.profile-fallback {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin: 0 auto;
}

.profile-img {
  object-fit: cover;
  display: block;
}

.profile-fallback {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #6366f1, #8b5cf6);
  color: white;
  font-size: 36px;
  font-weight: 700;
}